﻿@model  LoginViewModel 
@inject SignInManager< User > SignInManager

@{
    Layout = "_AccountLayout";
}

<div>
    <div class="container">
        <p style="text-align: center">
            <img alt="" class="logo" height="30%" src="~/images/msg-logo.png" width="30%"/>
        </p>
        <h1 class="head-title">Chat</h1>
    </div>

    <div class="bs-component well">
        <form asp-action="Login" asp-controller="Account" class="form-horizontal" method="post">
            <div asp-validation-summary="All" class="form-horizontal"></div>
            <div class="form-group" style="margin-left: 10%">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group" style="margin-left: 10%">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-block" type="submit">
                <img alt="" src="~/images/triangle.png" style="margin-right: 50%"/>Get started
            </button>
        </form>
    </div>
    <p class="register">
        Not registered? <a asp-action="Register" class="register">Create account.</a>
    </p>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}