﻿@model  RegisterViewModel 

@{
    Layout = "_AccountLayout";
}


<div class="new-acc">
    <p class="new-acc-text">New account</p>
</div>

<div class="bs-component well" style="margin-top: 10%">
    <form asp-action="Register" asp-controller="Account" class="form-horizontal" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group" style="margin-left: 10%">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="margin-left: 10%">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="margin-left: 10%">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-block" type="submit">
            <img alt="" src="~/images/triangle.png" style="margin-right: 50%"/>Register
        </button>
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}