﻿@{
    Layout = "_Layout";
}

<body class="body-chat">
@RenderBody()
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/material.js"></script>
    <script asp-append-version="true" src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/material.min.js"></script>
    <script asp-append-version="true" src="~/js/site.min.js"></script>
</environment>
@RenderSection( "scripts", false )
</body>