﻿@{
    Layout = "_ChatLayout";
}
@inject UserManager<User> UserManager

<div>
    <div class="new-acc">
        <p class="new-acc-text">Your friend</p>
    </div>
    <div id="messages" class="messages container">
    </div>
    <div class="chat-form">
        <textarea class="chat-input" id="message" placeholder="Type your message..." type="text"></textarea>
        <button class="btn btn-chat" onclick="sendMessage()" type="submit">
            <p style="color: pink; font-family: Karla-regular">Send</p>
        </button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function sendMessage() {
            const msn = $( "#message" ).val();
            $("#messages").append(`<div class="row"><div class="panel panel-default col-xs-6" style="word-break: break-all; margin-left:5%"><p style="font-family: Karla-regular; color: grey">Sent by @UserManager.GetUserName(User)<p><div class="panel-body">${msn}</div></div></div>`);
            $( "#message" ).val( "" );
        }
    </script>
}