﻿body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
    content: "[";
    display: inline-block;
    padding-right: 0.5em;
}

.btn-bracketed::after {
    content: "]";
    display: inline-block;
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[  src $= ".svg" ] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */

@media screen and ( max-width: 767px ) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.login-form {
    background-color: rgb( 255, 255, 255 );
    height: 50px;
    margin: auto;
    position: absolute;
    top: 55%;
    width: 50px;
    z-index: 2;
}

.bs-component {
    background-color: rgb( 255, 255, 255 );
    border: 0;
    border-radius: 0;
    height: 10%;
    margin: auto;
    padding: 0;
    top: 20%;
    width: 80%;
    z-index: 2;
}

.form-horizontal {
    padding: 0;
}

.btn-block {
    background-color: #ffbdb8;
    border: 0;
    border-radius: 0;
    height: 80px;
    margin: 0;
    width: 100%;
}

.account-body {
    background: url( /images/background.jpg );
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: Karla-bold;
    src: url( /fonts/Karla-Bold.ttf )
}

@font-face {
    font-family: Karla-regular;
    src: url( /fonts/Karla-Regular.ttf )
}

.head-title {
    color: black;
    font-family: Karla-bold;
    font-size: 50px;
    margin-top: -1%;
    text-align: center;
}

.register {
    color: white;
    font-family: Karla-regular;
    margin-top: 2%;
    text-align: center;
}

a:hover {
    color: whitesmoke;
}

.new-acc {
    background-color: black;
    height: 8%;
    position: absolute;
    top: 0;
    width: 100%;
}

.new-acc-text {
    color: white;
    font-family: Karla-regular;
    font-size: 20px;
    text-align: center;
}

.chat-field {
    height: 100%;
}

.chat-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 10%;
    padding: 0;
}

.chat-input {
    width: 80%;
    background-color: transparent;
    color: white;
    font-family: Karla-regular;
    border: 0;
    position: absolute;
    left: 5%;
    resize: none;
}

.btn-chat {
    background-color: transparent;
    color: white;
    font-family: Karla-regular;
    border: 0;
    position: absolute;
    right: 5%;
    
}

.messages {
    margin-top: 5%;
    position: absolute;
    overflow-y: auto;
    height: 70%;
    width: 100%;
}

    .body-chat {
        background: url(/images/background-chat.jpg );
        background-attachment: fixed;
        background-size: cover;
    }


@media (min-width: 1100px) {
    .body-chat {
        background: url(/images/background-big.jpg  )
    }
}